@charset "UTF-8";
* {
  margin: 0px;
}

html {
  height: 100vh;
}

body {
  font-family: Graphik;
  height: 100vh;
  margin: 32px 64px;
}

/*разметка grid*/
.container {
  height: 100vh;
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: 300px 32px 1fr;
  grid-template-columns: 300px 1fr;
  -ms-grid-rows: 88px 32px 1fr 32px 120px;
  grid-template-rows: 88px 1fr 120px;
  grid-gap: 32px;
      grid-template-areas: "header header" "aside main" "footer footer";
}

header {
  -ms-grid-row: 1;
  -ms-grid-column: 1;
  -ms-grid-column-span: 3;
  grid-area: header;
}

aside {
  -ms-grid-row: 3;
  -ms-grid-column: 1;
  grid-area: aside;
  margin-right: 25px;
}

main {
  -ms-grid-row: 3;
  -ms-grid-column: 3;
  grid-area: main;
}

footer {
  -ms-grid-row: 5;
  -ms-grid-column: 1;
  -ms-grid-column-span: 3;
  grid-area: footer;
}

/* блок main*/
.Introduction h1 {
  margin-bottom: 16px;
  font-size: 48px;
  line-height: 56px;
}
.Introduction .level {
  font-size: 24px;
  line-height: 32px;
  margin-top: 0px;
  margin-bottom: 64px;
  font-weight: normal;
}

main h2 {
  font-size: 32px;
  line-height: 40px;
  margin-top: 80px;
  margin-bottom: 24px;
}
main h3 {
  font-size: 24px;
  line-height: 32px;
  margin-top: 64px;
  margin-bottom: 32px;
  font-weight: 500;
}
main p {
  width: 592px;
  font-size: 16px;
  line-height: 24px;
}
main .adaptive img {
  height: 480px;
  width: 904px;
}
main .desktop {
  margin-top: 48px;
}

/*таблица разметки grid*/
.tableGrid {
  margin-top: 32px;
  margin-bottom: 48px;
}
.tableGrid .tableHeader td {
  height: 20px;
  width: 176px;
  font-size: 14px;
  line-height: 20px;
  font-weight: normal;
  color: #7D7D7D;
}
.tableGrid .tableBody td {
  height: 20px;
  width: 176px;
  font-size: 24px;
  line-height: 32px;
  font-weight: normal;
  color: #1B1B1B;
}

/*таблица разметки типографика*/
.typographyInfo {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

/*UI*/
/*стилизация различного состояния inputa email*/
.email {
  position: relative;
}
.email p {
  display: none;
}

#email {
  font-size: 16px;
  line-height: 24px;
  height: 24px;
  width: 280px;
  border: transparent;
  border-bottom: 2px solid #AEADAE;
  cursor: pointer;
}

#email:hover {
  border-bottom: 2px solid #3E29E3;
}

#email:focus {
  border-bottom: 4px solid #3E29E3;
  outline: none;
}

.email label {
  position: absolute;
  left: 0px;
  top: 0;
  font-size: 12px;
  line-height: 20px;
  color: #7D7D7D;
  -webkit-transition: all 0.2s;
  transition: all 0.2s;
  overflow: hidden;
  white-space: nowrap;
  z-index: 1;
  opacity: 0;
}

.email input:focus + label {
  opacity: 1;
  top: -18px;
}

#email.error {
  border-bottom: 4px solid #E80F3B;
}

.errorText {
  display: inline;
  font-size: 14px;
  line-height: 20px;
  color: #E80F3B;
  margin-top: 6px;
}