@charset "UTF-8";
.UI h3:first-child {
  margin-top: 24px;
  margin-bottom: 92px;
}

/*стилизация различного состояния inputa email*/
.email {
  position: relative;
}
.email p {
  display: none;
}

#email {
  font-size: 16px;
  line-height: 24px;
  height: 24px;
  width: 280px;
  border: transparent;
  border-bottom: 2px solid #AEADAE;
  cursor: pointer;
}

#email:hover {
  border-bottom: 2px solid #3E29E3;
}

#email:focus {
  border-bottom: 4px solid #3E29E3;
  outline: none;
}

.email label {
  position: absolute;
  left: 0px;
  top: 0;
  font-size: 12px;
  line-height: 20px;
  color: #7D7D7D;
  -webkit-transition: all 0.2s;
  transition: all 0.2s;
  overflow: hidden;
  white-space: nowrap;
  z-index: 1;
  opacity: 0;
}

.email input:focus + label {
  opacity: 1;
  top: -18px;
}

#email.error {
  border-bottom: 4px solid #E80F3B;
}

.errorText {
  display: inline;
  font-size: 14px;
  line-height: 20px;
  color: #E80F3B;
  margin-top: 6px;
}

.UIbutton {
  margin-top: 44px;
  margin-bottom: 16px;
  height: 56px;
  width: 148px;
  letter-spacing: 1px;
  background: linear-gradient(45deg, #DD80ED 0%, #3D28E3 100%);
  border-radius: 32px;
  border: transparent;
  color: white;
  cursor: pointer;
}

.UIbutton:hover {
  background: linear-gradient(225deg, #DD80ED 0%, #3D28E3 100%);
  -webkit-transition: all 0.1s ease-in 0s;
  transition: all 0.1s ease-in 0s;
}

.UIbutton:active {
  background: linear-gradient(206.57deg, #DD80ED 0%, #3D28E3 83.33%);
}

.UIbutton:disabled {
  background: #CBCBCC;
}

.choose {
  height: 153px;
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: (344px)[2];
  grid-template-columns: repeat(2, 344px);
      grid-template-areas: "chekbox radio";
}

.check {
  height: 0px;
  width: 0px;
  opacity: 0;
  z-index: -1;
}

.custom-checkbox {
  -ms-grid-row: 1;
  -ms-grid-column: 1;
  position: relative;
  top: -25px;
  display: block;
  height: 24px;
  width: 24px;
  grid-area: chekbox;
  cursor: pointer;
  border: 2px solid #AEADAE;
}

.custom-checkbox::before {
  content: "";
  display: block;
  height: 24px;
  width: 24px;
  background-image: url("../img/svg/tick.svg");
  background-size: contain;
  background-repeat: no-repeat;
  background-color: #3E29E3;
  border: 2px solid #3E29E3;
  position: absolute;
  left: 50%;
  top: 50%;
  -webkit-transform: translate(-50%, -50%) scale(0);
          transform: translate(-50%, -50%) scale(0);
  -webkit-transition: all 0.3s ease 0s;
  transition: all 0.3s ease 0s;
}

.check:checked + .custom-checkbox::before {
  -webkit-transform: translate(-50%, -50%) scale(1);
          transform: translate(-50%, -50%) scale(1);
}
.check:checked + .custom-checkbox::before .labelType {
  opacity: 1;
}

.labelType {
  font-size: 16px;
  line-height: 24px;
  opacity: 0.8;
  cursor: pointer;
  margin-left: 49px;
}

.labelType:hover,
.labelType:focus {
  opacity: 1;
}
.labelType:hover .custom-checkbox,
.labelType:focus .custom-checkbox {
  border: 2px solid #3E29E3;
}
.labelType:hover .custom-radio,
.labelType:focus .custom-radio {
  border: 2px solid #3E29E3;
}

.radio {
  -ms-grid-row: 1;
  -ms-grid-column: 2;
  grid-area: radio;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  cursor: pointer;
}

.radioOption {
  height: 0px;
  width: 0px;
  opacity: 0;
  z-index: -1;
}

.custom-radio {
  position: relative;
  top: -5px;
  display: inline-block;
  height: 24px;
  width: 24px;
  background-color: white;
  border: 2px solid #AEADAE;
  border-radius: 50%;
  margin-right: 16px;
  margin-bottom: 19px;
  vertical-align: text-top;
}

.custom-radio::before {
  position: absolute;
  content: "";
  display: inline-block;
  height: 12px;
  width: 12px;
  background-color: #3E29E3;
  border: 2px solid #3E29E3;
  border-radius: 50%;
  left: 50%;
  top: 50%;
  -webkit-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
  display: none;
}

.radioOption:checked + .custom-radio::before {
  display: block;
}
.radioOption:checked + .custom-radio::before .custom-radio {
  border: 2px solid #3E29E3;
}

.accordion-body {
  margin-bottom: 160px;
}

.accordion {
  color: black;
  background-color: white;
  cursor: pointer;
  width: 904px;
}
.accordion .label {
  font-size: 16px;
  line-height: 24px;
  color: #7D7D7D;
}
.accordion .contentAccordion {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  margin-top: 24px;
  margin-bottom: 15px;
  border-bottom: 1px solid #CBCBCC;
  height: 48px;
  -webkit-transition: all 0.3s ease 0s;
  transition: all 0.3s ease 0s;
}
.accordion .content {
  position: relative;
  height: 0;
  overflow: hidden;
  -webkit-transition: all 0.3s ease 0s;
  transition: all 0.3s ease 0s;
  font-size: 16px;
  line-height: 24px;
  margin-top: 24px;
  margin-bottom: 30px;
}
.accordion .accordionHeader {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.contentAccordion:hover {
  border-bottom: 1px solid #3E29E3;
}
.contentAccordion:hover .label {
  color: #1B1B1B;
}

.contentAccordion.active {
  border-bottom: 2px solid #3E29E3;
  height: 294px;
}
.contentAccordion.active .label {
  color: #3E29E3;
}
.contentAccordion.active .content {
  height: 294px;
}
.contentAccordion.active img {
  -webkit-transform: rotate(180deg);
          transform: rotate(180deg);
}

.dropList {
  margin-top: 64px;
  margin-bottom: 60px;
}
.dropList p {
  margin-top: -68px;
}

form {
  height: 200px;
}

.select {
  position: relative;
  width: 280px;
  border: transparent;
  border-bottom: 2px solid #AEADAE;
  background-color: transparent;
  outline: none;
  width: 280px;
  padding-bottom: 6px;
  cursor: pointer;
  font-size: 16px;
  line-height: 24px;
  margin-top: 48px;
}
.select[data-state=active] .selectTitle::before {
  -webkit-transform: translate(-3px, -50%) rotate(-45deg);
          transform: translate(-3px, -50%) rotate(-45deg);
}
.select[data-state=active] .selectTitle::after {
  -webkit-transform: translate(3px, -50%) rotate(45deg);
          transform: translate(3px, -50%) rotate(45deg);
}
.select[data-state=active] .selectContent {
  opacity: 1;
}
.select[data-state=active] .select-label + .select-input + .select-label {
  width: 232px;
  padding: 8px 24px;
  max-height: 24px;
}

.select:hover {
  border-bottom: 2px solid #3E29E3;
}

.selectTitle {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  cursor: pointer;
}
.selectTitle::before, .selectTitle::after {
  content: "";
  position: absolute;
  top: 40%;
  right: 5px;
  display: block;
  width: 10px;
  height: 2px;
  -webkit-transition: all 0.3s ease 0s;
  transition: all 0.3s ease 0s;
  background-color: #3E29E3;
  -webkit-transform: translate(-3px, -50%) rotate(45deg);
          transform: translate(-3px, -50%) rotate(45deg);
}
.selectTitle::after {
  -webkit-transform: translate(3px, -50%) rotate(-45deg);
          transform: translate(3px, -50%) rotate(-45deg);
}
.selectTitle:hover {
  border-color: #3E29E3;
}
.selectTitle:hover::before, .selectTitle:hover::after {
  background-color: #3E29E3;
}

.reset {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  width: 280px;
  -webkit-transition: all 0.2s ease-out;
  transition: all 0.2s ease-out;
  cursor: pointer;
}
.reset:hover {
  background-color: #3E29E3;
  color: #ffffff;
}

.selectContent {
  position: absolute;
  top: 30px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  width: 280px;
  background-color: #ffffff;
  border: transparent;
  -webkit-transition: all 0.3s ease 0s;
  transition: all 0.3s ease 0s;
  opacity: 0;
  z-index: 8;
}

.select-input {
  display: none;
}
.select-input:checked + label {
  color: #3E29E3;
}
.select-input:hover + label {
  color: white;
}
.select-input:disabled + label {
  opacity: 0.6;
  pointer-events: none;
}

.select-label {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  width: 100%;
  height: 40px;
  max-height: 0;
  -webkit-transition: all 0.2s ease-in;
  transition: all 0.2s ease-in;
  cursor: pointer;
  overflow: hidden;
}
.select-label:hover {
  background-color: #3E29E3;
  color: white;
}

.tab {
  overflow: hidden;
  width: 904px;
  border-bottom: 1px solid #CBCBCC;
}

/* Кнопки для открытия tab */
.tab button {
  float: left;
  border: none;
  outline: none;
  cursor: pointer;
  background-color: transparent;
  text-align: center;
  color: #7D7D7D;
  font-size: 16px;
  line-height: 24px;
  margin-right: 32px;
  height: 48px;
}

.tab button:hover,
.tab button.seen {
  color: #1B1B1B;
  border-bottom: 2px solid #3E29E3;
}

.tabcontent,
.mobileContent {
  display: none;
}

.tabcontent.seen {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin-top: 48px;
}
.tabcontent.seen .right {
  width: 592px;
}
.tabcontent.seen .right h1 {
  font-size: 48px;
  line-height: 56px;
  margin-bottom: 48px;
}
.tabcontent.seen .right h2 {
  font-size: 32px;
  line-height: 40px;
  margin-bottom: 48px;
  margin-top: 0;
}
.tabcontent.seen .right h3 {
  font-size: 24px;
  line-height: 32px;
  margin-bottom: 48px;
  margin-top: 0;
}
.tabcontent.seen .right h4 {
  font-size: 18px;
  line-height: 28px;
  margin-bottom: 48px;
}
.tabcontent.seen .right .lead {
  font-size: 24px;
  line-height: 32px;
  margin-bottom: 48px;
}
.tabcontent.seen .right .bigText {
  font-size: 18px;
  line-height: 28px;
  margin-bottom: 48px;
}
.tabcontent.seen .right .mainText {
  font-size: 16px;
  line-height: 24px;
  margin-bottom: 48px;
}
.tabcontent.seen .right .extra {
  font-size: 14px;
  line-height: 20px;
}
.tabcontent.seen .left {
  height: 20px;
  width: 280px;
  margin-right: 32px;
  color: #7D7D7D;
}
.tabcontent.seen .left p {
  font-size: 14px;
  line-height: 20px;
}
.tabcontent.seen .left p:first-child {
  margin-bottom: 84px;
}
.tabcontent.seen .left p:nth-child(2) {
  margin-bottom: 68px;
}
.tabcontent.seen .left p:nth-child(3),
.tabcontent.seen .left p:nth-child(5) {
  margin-bottom: 60px;
}
.tabcontent.seen .left p:nth-child(4),
.tabcontent.seen .left p:nth-child(6) {
  margin-bottom: 56px;
}
.tabcontent.seen .left p:nth-child(5) {
  margin-bottom: 60px;
}
.tabcontent.seen .left p:nth-child(7) {
  margin-bottom: 52px;
}

.mobileContent.seen {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin-top: 48px;
}
.mobileContent.seen .right {
  width: 592px;
}
.mobileContent.seen .right h1 {
  font-size: 32px;
  line-height: 40px;
  margin-bottom: 48px;
}
.mobileContent.seen .right h2 {
  font-size: 28px;
  line-height: 36px;
  margin-bottom: 48px;
  margin-top: 0;
}
.mobileContent.seen .right h3 {
  font-size: 20px;
  line-height: 28px;
  margin-bottom: 48px;
  margin-top: 0;
}
.mobileContent.seen .right h4 {
  font-size: 18px;
  line-height: 28px;
  margin-bottom: 48px;
}
.mobileContent.seen .right .lead {
  font-size: 20px;
  line-height: 28px;
  margin-bottom: 48px;
}
.mobileContent.seen .right .bigText {
  font-size: 18px;
  line-height: 28px;
  margin-bottom: 48px;
}
.mobileContent.seen .right .mainText {
  font-size: 16px;
  line-height: 24px;
  margin-bottom: 48px;
}
.mobileContent.seen .right .extra {
  font-size: 14px;
  line-height: 20px;
}
.mobileContent.seen .left {
  height: 20px;
  width: 280px;
  margin-right: 32px;
  color: #7D7D7D;
}
.mobileContent.seen .left p {
  font-size: 14px;
  line-height: 20px;
}
.mobileContent.seen .left p:first-child {
  margin-bottom: 68px;
}
.mobileContent.seen .left p:nth-child(2) {
  margin-bottom: 64px;
}
.mobileContent.seen .left p:nth-child(3),
.mobileContent.seen .left p:nth-child(4),
.mobileContent.seen .left p:nth-child(5),
.mobileContent.seen .left p:nth-child(6) {
  margin-bottom: 56px;
}
.mobileContent.seen .left p:nth-child(7) {
  margin-bottom: 52px;
}