@charset "UTF-8";
/*стилизация различного состояния inputa email*/
.email {
  position: relative;
}
.email p {
  display: none;
}

#email {
  font-size: 16px;
  line-height: 24px;
  height: 24px;
  width: 280px;
  border: transparent;
  border-bottom: 2px solid #AEADAE;
  cursor: pointer;
}

#email:hover {
  border-bottom: 2px solid #3E29E3;
}

#email:focus {
  border-bottom: 4px solid #3E29E3;
  outline: none;
}

.email label {
  position: absolute;
  left: 0px;
  top: 0;
  font-size: 12px;
  line-height: 20px;
  color: #7D7D7D;
  -webkit-transition: all 0.2s;
  transition: all 0.2s;
  overflow: hidden;
  white-space: nowrap;
  z-index: 1;
  opacity: 0;
}

.email input:focus + label {
  opacity: 1;
  top: -18px;
}

#email.error {
  border-bottom: 4px solid #E80F3B;
}

.errorText {
  display: inline;
  font-size: 14px;
  line-height: 20px;
  color: #E80F3B;
  margin-top: 6px;
}

.select {
  -moz-appearance: none;
  -webkit-appearance: none;
  appearance: none;
  border: none;
  border-bottom: 2px solid #AEADAE;
  background-color: transparent;
  outline: none;
  width: 280px;
  padding-bottom: 6px;
  cursor: pointer;
  font-size: 16px;
  line-height: 24px;
  margin-top: 48px;
}

.select::-ms-expand {
  display: none;
}

.select-wrapper img {
  position: relative;
  left: -15px;
  pointer-events: none;
}

.select:hover {
  border-bottom: 2px solid #3E29E3;
}

.UIbutton {
  height: 56px;
  width: 148px;
  letter-spacing: 1px;
  background: linear-gradient(45deg, #DD80ED 0%, #3D28E3 100%);
  border-radius: 32px;
  border: transparent;
  color: white;
  cursor: pointer;
}

.UIbutton:hover {
  background: linear-gradient(225deg, #DD80ED 0%, #3D28E3 100%);
  -webkit-transition: all 0.1s ease-in 0s;
  transition: all 0.1s ease-in 0s;
}

.UIbutton:active {
  background: linear-gradient(206.57deg, #DD80ED 0%, #3D28E3 83.33%);
}

.UIbutton:disabled {
  background: #CBCBCC;
}

.choose {
  height: 145px;
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: (1fr)[2];
  grid-template-columns: repeat(2, 1fr);
      grid-template-areas: "chekbox radio";
}

.check {
  height: 0px;
  width: 0px;
  opacity: 0;
  z-index: -1;
}

.custom-checkbox {
  -ms-grid-row: 1;
  -ms-grid-column: 1;
  position: relative;
  top: -25px;
  display: block;
  height: 24px;
  width: 24px;
  grid-area: chekbox;
  cursor: pointer;
  border: 2px solid #AEADAE;
}

.custom-checkbox::before {
  content: "";
  display: block;
  height: 24px;
  width: 24px;
  background-image: url("../img/svg/tick.svg");
  background-size: contain;
  background-repeat: no-repeat;
  background-color: #3E29E3;
  border: 2px solid #3E29E3;
  position: absolute;
  left: 50%;
  top: 50%;
  -webkit-transform: translate(-50%, -50%) scale(0);
          transform: translate(-50%, -50%) scale(0);
  -webkit-transition: all 0.3s ease 0s;
  transition: all 0.3s ease 0s;
}

.check:checked + .custom-checkbox::before {
  -webkit-transform: translate(-50%, -50%) scale(1);
          transform: translate(-50%, -50%) scale(1);
}
.check:checked + .custom-checkbox::before .labelType {
  opacity: 1;
}

.labelType {
  font-size: 16px;
  line-height: 24px;
  opacity: 0.8;
  cursor: pointer;
  margin-left: 49px;
}

.labelType:hover,
.labelType:focus {
  opacity: 1;
}
.labelType:hover .custom-checkbox,
.labelType:focus .custom-checkbox {
  border: 2px solid #3E29E3;
}
.labelType:hover .custom-radio,
.labelType:focus .custom-radio {
  border: 2px solid #3E29E3;
}

.radio {
  -ms-grid-row: 1;
  -ms-grid-column: 2;
  grid-area: radio;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  cursor: pointer;
}

.radioOption {
  height: 0px;
  width: 0px;
  opacity: 0;
  z-index: -1;
}

.custom-radio {
  position: relative;
  top: -5px;
  display: inline-block;
  height: 24px;
  width: 24px;
  background-color: white;
  border: 2px solid #AEADAE;
  border-radius: 50%;
  margin-right: 16px;
  margin-bottom: 24px;
  vertical-align: text-top;
}

.custom-radio::before {
  position: absolute;
  content: "";
  display: inline-block;
  height: 12px;
  width: 12px;
  background-color: #3E29E3;
  border: 2px solid #3E29E3;
  border-radius: 50%;
  left: 50%;
  top: 50%;
  -webkit-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
  display: none;
}

.radioOption:checked + .custom-radio::before {
  display: block;
}
.radioOption:checked + .custom-radio::before .custom-radio {
  border: 2px solid #3E29E3;
}

.accordion {
  color: black;
  background-color: white;
  cursor: pointer;
  width: 904px;
}
.accordion .label {
  font-size: 16px;
  line-height: 24px;
  color: #7D7D7D;
}
.accordion .contentAccordion {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  margin-top: 24px;
  margin-bottom: 15px;
  border-bottom: 1px solid #CBCBCC;
  height: 48px;
  -webkit-transition: all 0.3s ease 0s;
  transition: all 0.3s ease 0s;
}
.accordion .content {
  position: relative;
  height: 0;
  overflow: hidden;
  -webkit-transition: all 0.3s ease 0s;
  transition: all 0.3s ease 0s;
  font-size: 16px;
  line-height: 24px;
  margin-top: 24px;
  margin-bottom: 30px;
}
.accordion .accordionHeader {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.contentAccordion:hover {
  border-bottom: 1px solid #3E29E3;
}
.contentAccordion:hover .label {
  color: #1B1B1B;
}

.contentAccordion.active {
  border-bottom: 2px solid #3E29E3;
  height: 294px;
}
.contentAccordion.active .label {
  color: #3E29E3;
}
.contentAccordion.active .content {
  height: 294px;
}
.contentAccordion.active img {
  -webkit-transform: rotate(180deg);
          transform: rotate(180deg);
}