@import "variables";
@import "mixins";

html{
    width: 100%;
    overflow-x: hidden;
    position: absolute;
    left: 0px;
    top: 0px;
    padding-right: 0px;
}

body{
    font-family: $font;
    
}
