@import "variables";
@import "mixins";

html {
    height: 100vh;

}
body{
    font-family: $font;
    height: 100vh;
    margin: 32px 64px;

}

.container{
    height: 100vh;
    display: grid;
    grid-template-columns: 300px 1fr;
    grid-template-rows: 120px 1fr 120px;
    grid-gap: 32px;
    grid-template-areas:
        "header header"
        "aside main"
        "footer footer";
}

header {
    grid-area: header;
}

aside {
    grid-area: aside;
    margin-right: 25px;
}

main {
    grid-area: main;
}

footer {
    grid-area: footer;
}
