@import "variables";
@import "mixins";

*{
    margin: 0px;
    ul{
        padding: 0;
    }
}

html {
    height: 100vh;

}
body{
    font-family: $font;
    height: 100vh;
    margin: 32px 64px;

}


/*разметка grid*/
.container{
    height: 100vh;
    display: grid;
    grid-template-columns: 300px 1fr;
    grid-template-rows: 88px 1fr 120px;
    grid-gap: 32px;
    grid-template-areas:
        "header header"
        "aside main"
        "footer footer";
}

header {
    grid-area: header;
}

aside {
    grid-area: aside;
    margin-right: 25px;
}

main {
    grid-area: main;
}

footer {
    grid-area: footer;
}

/* блок main*/

.Introduction {
    h1 {
        margin-bottom: 16px;
        @include fontSize (48px, 56px);
    }

    .level{
        @include fontSize (24px, 32px);
        @include margin (0px, 64px);
        font-weight: normal;
    }
}

main {
    h2{
        @include fontSize (32px, 40px);
        @include margin (80px, 24px);
    }

    h3{
        @include fontSize (24px, 32px);
        @include margin (64px,32px);
        font-weight: 500;
    }

    p {
        width: 592px;
        @include fontSize (16px, 24px);

    }

    .adaptive img {
        @include size (480px, 904px);
    }

    .desktop{
        margin-top: 48px;
    }
}

/*таблица разметки grid*/


.tableGrid{
    @include margin (32px, 48px);

    .tableHeader {
        td{
        @include size (20px, 176px);
        @include fontSize (14px, 20px);
        font-weight:  normal;
        color: $greyText;
    }
    }
    .tableBody {
        td{
            @include size (20px, 176px);
            @include fontSize (24px, 32px);
            font-weight:  normal;
            color: $blackFont;
        }
    }
}
