@import "variables";
@import "mixins";

.UI{
    h3:first-child{
        @include margin (24px, 92px);
    }
}


/*стилизация различного состояния inputa email*/

.email {
    position: relative;

    p{
        display: none;
    }
}

#email{
    @include fontSize (16px, 24px);
    @include size (24px, 280px);
    border: transparent;
    border-bottom: 2px solid $greyLine;
    cursor: pointer;
}

#email:hover{
    border-bottom: 2px solid $visitedLink;
}

#email:focus{
    border-bottom: 4px solid $visitedLink;
    outline: none;
}

.email label {
    position: absolute;
    left:0px;
    top: 0;
    @include fontSize (12px, 20px);
    color: $greyText;
    transition: all 0.2s;
    overflow: hidden;
    white-space: nowrap;
    z-index: 1;
    opacity: 0;
}

.email input:focus + label {
    opacity: 1;
    top: -18px;  
}

#email.error{
    border-bottom: 4px solid $error;
}

.errorText{
    display: inline;
    @include fontSize (14px, 20px);
    color: $error;
    margin-top: 6px;
}




//Кнопка "отправить"

.UIbutton{
    @include margin (44px, 16px);
    @include size (56px, 148px);
    letter-spacing: 1px;
    background: linear-gradient(45deg, #DD80ED 0%, #3D28E3 100%);
    border-radius: 32px;
    border: transparent;
    color: white;
    cursor: pointer;
}

.UIbutton:hover{
    background: linear-gradient(225deg, #DD80ED 0%, #3D28E3 100%);
    transition: all 0.1s ease-in 0s;
}

.UIbutton:active{
    background: linear-gradient(206.57deg, #DD80ED 0%, #3D28E3 83.33%);
}

.UIbutton:disabled{
    background: #CBCBCC;
}

//Чекбокс, радиобаттон

.choose{
    height: 153px;
    display: grid;
    grid-template-columns: repeat(2, 344px);
    grid-template-areas:
        "chekbox radio"
}

//div с вариантами checkbox - обнулили

.check{
    @include size (0px, 0px);
    opacity: 0;
    z-index: -1;
}

//новый вид чекбокса
.custom-checkbox{
    position: relative;
    top: -25px;
    display: block;
    @include size (24px, 24px);
    grid-area: chekbox ;
    cursor: pointer;
    border: 2px solid $greyLine;
}


.custom-checkbox::before{
    content: '';
    display: block;
    @include size (24px, 24px);
    background-image: url('../img/svg/tick.svg');
    background-size: contain;
    background-repeat: no-repeat;
    background-color: $visitedLink;
    border: 2px solid $visitedLink;

    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%) scale(0);
    transition: $transition;
}

.check:checked + .custom-checkbox::before{
    transform: translate(-50%, -50%) scale(1);

    .labelType{
        opacity: 1;
    }
}


.labelType {
    @include fontSize (16px, 24px);
    opacity: 0.8;
    cursor: pointer;
    margin-left: 49px;
}

.labelType:hover,
.labelType:focus{
    opacity: 1;

    .custom-checkbox{
        border: 2px solid $visitedLink;
    }

    .custom-radio{
        border: 2px solid $visitedLink;

    }
}

//radio button

.radio{
    grid-area: radio;
    display: flex;
    flex-direction: column;
    cursor: pointer;
}

//настоящая кнопка
.radioOption{
    @include size (0px, 0px);
    opacity: 0;
    z-index: -1;
}

//кастомная радио кнопка
.custom-radio{
    position: relative;
    top: -5px;
    display: inline-block;
    @include size (24px, 24px);
    background-color: white;
    border: 2px solid $greyLine;
    border-radius: 50%;
    margin-right: 16px;
    margin-bottom: 19px;
    vertical-align: text-top;
}

.custom-radio::before{
    position: absolute;
    content: '';
    display: inline-block;
    @include size (12px, 12px);
    background-color: $visitedLink;
    border: 2px solid $visitedLink;

    border-radius: 50%;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
    display: none;
}

.radioOption:checked + .custom-radio::before{
    display: block;
    .custom-radio{
        border: 2px solid $visitedLink;
    }
}

//Аккордеон
.accordion-body{
    margin-bottom: 160px;
}

.accordion{
    color: black;
    background-color: white;
    cursor: pointer;
    width: 904px;


    .label{
        @include fontSize (16px, 24px);
        color: $greyText;
    }

    .contentAccordion{
        box-sizing: border-box;
        @include margin (24px, 15px);
        border-bottom: 1px solid $accordionLine;
        height: 48px;
        transition: $transition;

    }

    .content{
        position: relative;
        height: 0;
        overflow: hidden;
        transition: $transition;
        @include fontSize (16px, 24px);
        @include margin (24px, 30px);
    }

    .accordionHeader{
        display: flex;
        justify-content: space-between;
    }
}

.contentAccordion:hover{
    border-bottom: 1px solid $visitedLink;

    .label{
        color: $blackFont;
    }
}

.contentAccordion.active{
    border-bottom: 2px solid $visitedLink;
    height: 294px;

    .label{
        color: $visitedLink;
    }

    .content{
        height: 294px;
    }

    img{
        transform: rotate(180deg);
    }

}

//выпадающий список
.dropList{
    @include margin (64px, 60px);

    p{
        margin-top: -68px;
    }
}

//кнопка выбора
form{
    height: 200px;
}

.select {
    position: relative;
    width: 280px;
    border: transparent;
    border-bottom: 2px solid $greyLine;
    background-color: transparent;
    outline: none;
    width: 280px;
    padding-bottom: 6px;
    cursor: pointer;
    @include fontSize (16px, 24px);
    margin-top: 48px;

    &[data-state="active"] {
        .selectTitle {
            &::before {
                transform: translate(-3px, -50%) rotate(-45deg);
            }
            &::after {
                transform: translate(3px, -50%) rotate(45deg);
            }
        }
    
        .selectContent {
            opacity: 1;
        }

        .select-label + .select-input + .select-label {
            width: 232px;
            padding: 8px 24px;
            max-height: 24px;
        }
    }
}

.select:hover{
    border-bottom: 2px solid $visitedLink;

}

//стрелка
.selectTitle {
    display: flex;    
    cursor: pointer;

        &::before,
        &::after {
            content: "";
            position: absolute;
            top: 40%;
            right: 5px;
            display: block;
            width: 10px;
            height: 2px;
            transition: $transition;
            background-color: $visitedLink;
            transform: translate(-3px, -50%) rotate(45deg);
        }
        &::after {
            transform: translate(3px, -50%) rotate(-45deg);
        }
    
        &:hover {
            border-color: $visitedLink;
    
        &::before,
        &::after {
            background-color: $visitedLink;
        }
    }
}

.reset {
    display: flex;
    width: 280px;

    transition: all 0.2s ease-out;
    cursor: pointer;
    &:hover {
        background-color: $visitedLink;
        color: #ffffff;
    }
}

.selectContent {
    position: absolute;
    top: 30px;
    display: flex;
    flex-direction: column;
    width: 280px;
    background-color: #ffffff;

    border: transparent;
    transition: $transition;
    opacity: 0;
    z-index: 8;
}

.select-input {
    display: none;
    &:checked + label {
        color: $visitedLink;
        }
        &:hover + label{
            color: white;
        }

        &:disabled + label {
            opacity: 0.6;
            pointer-events: none;
    }
}

.select-label {
    display: flex;
    align-items: center;
    width: 100%;
    height: 40px;
    max-height: 0;
    
    transition: all 0.2s ease-in;
    cursor: pointer;
    overflow: hidden;

    &:hover {
        background-color: $visitedLink;
        color: white;
    }
}





.tab {
    overflow: hidden;
    width: 904px;
    border-bottom: 1px solid $accordionLine;
}

  /* Кнопки для открытия tab */
.tab button {
    float: left;
    border: none;
    outline: none;
    cursor: pointer;
    background-color: transparent;
    text-align: center;
    color: $greyText;
    @include fontSize (16px, 24px);
    margin-right: 32px;
    height: 48px;
}

.tab button:hover,
.tab button.seen {
    color: $blackFont;
    border-bottom: 2px solid $visitedLink;
}


.tabcontent,
.mobileContent {
    display: none;
}

.tabcontent.seen{
    display: flex;
    margin-top: 48px;
    .right{
        width: 592px;
        h1{
            @include fontSize (48px,56px);
            margin-bottom: 48px;
        }

        h2{
            @include fontSize (32px,40px);
            margin-bottom: 48px;
            margin-top: 0;
        }

        h3{
            @include fontSize (24px,32px);
            margin-bottom: 48px;
            margin-top: 0;

        }

        h4{
            @include fontSize (18px,28px);
            margin-bottom: 48px;
        }

        .lead{
            @include fontSize (24px,32px);
            margin-bottom: 48px;
        }

        .bigText{
            @include fontSize (18px,28px);
            margin-bottom: 48px;
        }

        .mainText{
            @include fontSize (16px,24px);
            margin-bottom: 48px;
        }

        .extra{
            @include fontSize (14px,20px);
        }
    }

    .left{
        @include size (20px, 280px);
        margin-right: 32px;
        color: $greyText;
    
        p{
        @include fontSize (14px, 20px);
    
        }
    
        p:first-child{
            margin-bottom: 84px;
        }
    
        p:nth-child(2){
            margin-bottom: 68px;
        }
    
        p:nth-child(3),
        p:nth-child(5){
            margin-bottom: 60px;
        }
    
        p:nth-child(4),
        p:nth-child(6){
            margin-bottom: 56px;
        }
    
        p:nth-child(5){
            margin-bottom: 60px;
        }
        p:nth-child(7){
            margin-bottom: 52px;
        }
    }

}



.mobileContent.seen{
    display: flex;
    margin-top: 48px;

    .right{
        width: 592px;
        h1{
            @include fontSize (32px,40px);
            margin-bottom: 48px;
        }

        h2{
            @include fontSize (28px,36px);
            margin-bottom: 48px;
            margin-top: 0;
        }

        h3{
            @include fontSize (20px,28px);
            margin-bottom: 48px;
            margin-top: 0;

        }

        h4{
            @include fontSize (18px,28px);
            margin-bottom: 48px;
        }

        .lead{
            @include fontSize (20px,28px);
            margin-bottom: 48px;
        }

        .bigText{
            @include fontSize (18px,28px);
            margin-bottom: 48px;
        }

        .mainText{
            @include fontSize (16px,24px);
            margin-bottom: 48px;
        }

        .extra{
            @include fontSize (14px,20px);
        }
    }

    .left{
        @include size (20px, 280px);
        margin-right: 32px;
        color: $greyText;
    
        p{
        @include fontSize (14px, 20px);
    
        }
    
        p:first-child{
            margin-bottom: 68px;
        }
    
        p:nth-child(2){
            margin-bottom: 64px;
        }
    
        p:nth-child(3),
        p:nth-child(4),
        p:nth-child(5),
        p:nth-child(6){
            margin-bottom: 56px;
        }
        p:nth-child(7){
            margin-bottom: 52px;
        }
    }
}